<section class="contact" id="contact">
  <div class="container">
    <h2 class="title contact__title">Contact us</h2>
    <div class="contact__inner">
      <div class="contact__img-wrapper">
        <picture>
          <source srcset="./images/contact/contact.webp" type="image/webp" />
          <img src="./images/contact/contact.png" />
        </picture>
      </div>
      <div class="contact__wrapper">
        <p class="text contact__text">
          Discover your current English level by taking our free online English
          test. Sign up to our newsletter for learning tips and free resources
        </p>

        <form class="subscribe__wrapper">
          <input
            class="subscribe__input"
            type="email"
            placeholder="Enter Your E-mail"
          />
          <button class="button button--reverse" type="submit">
            Subscribe
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
