<footer class="footer">
  <div class="container footer__container">
    <div class="logo footer__logo">
      <a class="link logo__link"><span class="logo__part">Brit</span>lex</a>
    </div>
    <ul class="policy text">
      <li class="card-set__item policy__item">
        <a class="policy__link link">Terms and Conditions</a>
      </li>
      <li class="card-set__item policy__item">
        <a class="policy__link link">Privacy Policy</a>
      </li>
      <li class="card-set__item policy__item">
        <a class="policy__link link">Cookie Policy</a>
      </li>
    </ul>
  </div>
</footer>
