<header class="header">
  <div class="container header__container">
    <div class="logo">
      <a class="link logo__link"><span class="logo__part">Brit</span>lex</a>
    </div>
    <button class="menu-button" data-menu-button>
      <span class="burger-menu"></span>
    </button>
    <div class="site-nav" data-menu>
      <nav class="site-nav__wrapper">
        <ul class="site-nav__list">
          <li class="site-nav__item">
            <a class="link site-nav__link" href="#home"> Home</a>
          </li>
          <li class="site-nav__item">
            <a class="link site-nav__link" href="#skills">Skills </a>
          </li>
          <li class="site-nav__item">
            <a class="link site-nav__link" href="#about"> About Us</a>
          </li>
          <li class="site-nav__item">
            <a class="link site-nav__link" href="#pricing">Pricing </a>
          </li>
          <li class="site-nav__item">
            <a class="link site-nav__link" href="#contact">Contacts </a>
          </li>
        </ul>
      </nav>
      <button class="button site-nav__button" type="button">Let’s Talk</button>
    </div>
  </div>
</header>
