<section class="hero" id="home">
  <div class="container hero__container">
    <picture>
      <source
        srcset="./images/hero/learning-languages.webp"
        type="image/webp"
      />
      <img
        alt="girl learning"
        class="hero__img"
        src="./images/hero/learning-languages.png"
      />
    </picture>
    <div class="hero__inner">
      <h1 class="title hero__title">Learn Any Foreign Language</h1>
      <p class="text hero__text">
        With our teachers who write a program for each student, you will be able
        to make your first sketch after the first lesson.
      </p>
      <button class="button button--reverse hero__button" type="button">
        Get started
      </button>
    </div>
  </div>
</section>
