<div class="backdrop is-hidden" data-modal="login">
  <div class="modal login__modal">
    <button class="modal__button" data-modal-btn="close">
      <span class="modal__btn-icon"></span>
    </button>
    <form class="login__form">
      <label for="userEmail">E-mail</label>
      <input class="login__input" type="email" id="userEmail" />
      <label for="userPassword">Password</label>
      <input class="login__input" type="password" id="userPassword" />
      <button class="button button--reverse login__button--sing" type="submit">
        Sing up
      </button>
    </form>
    <button class="button login__button--reg" type="button">
      Registration
    </button>
  </div>
</div>
