<section class="pricing" id="pricing">
  <h2 class="title pricing__title">Pricing</h2>
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="card card-set__item">
          <picture>
            <source srcset="./images/pricing/online.webp" type="image/webp" />
            <img
              alt="example online lesson"
              src="./images/pricing/online.png"
            />
          </picture>
          <h3 class="title">Self-study online course</h3>
          <p class="text card__text">
            Start learning English online in live classes with qualified EC
            teachers and students from all over the world.
          </p>
          <p class="text card__accent">
            <span class="card__price">22$</span>per month
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card card-set__item">
          <picture>
            <source srcset="./images/pricing/lesson.webp" type="image/webp" />
            <img alt="example lesson" src="./images/pricing/lesson.png" />
          </picture>
          <h3 class="title">Live online classes</h3>
          <p class="text card__text">
            Interactive group classes with expert teachers. Free 7-day trial
          </p>
          <p class="text card__accent">
            <span class="card__price">22$</span>per month
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card card-set__item">
          <picture>
            <source srcset="./images/pricing/webinar.webp" type="image/webp" />
            <img alt="example vebinar" src="./images/pricing/webinar.png" />
          </picture>
          <h3 class="title">Personal Tuition</h3>
          <p class="text card__text">
            Online one-to-one English tutoring – enjoy our first session for
            only $1
          </p>
          <p class="text card__accent">
            <span class="card__price">22$</span>per month
          </p>
        </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>
</section>
