.backdrop {
  min-width: 320px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  z-index: 420;

  visibility: visible;
  opacity: 1;

  background-color: #00000033;

  transition: opacity var(--transition), visibility var(--transition);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
